/**
 *
 *  ESUP-Portail ESUP-MONDOSSIERWEB-PEGASE - Copyright (c) 2021 ESUP-Portail consortium
 *
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */
/*
 * PAI v1 - Paiement
 * API pour la gestion des paiements
 *
 * The version of the OpenAPI document: 2.1.2
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.univlorraine.pegase.api.pai;

import fr.univlorraine.pegase.api.ApiCallback;
import fr.univlorraine.pegase.api.ApiClient;
import fr.univlorraine.pegase.api.ApiException;
import fr.univlorraine.pegase.api.ApiResponse;
import fr.univlorraine.pegase.api.Configuration;
import fr.univlorraine.pegase.api.Pair;
import fr.univlorraine.pegase.api.ProgressRequestBody;
import fr.univlorraine.pegase.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import fr.univlorraine.pegase.model.pai.Periode;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PeriodesApi {
    private ApiClient localVarApiClient;

    public PeriodesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PeriodesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for listerPeriodesMiseEnOeuvre
     * @param codeStructure le code de l&#39;établissement (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> liste des periodes de mise en oeuvre </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> liste introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listerPeriodesMiseEnOeuvreCall(String codeStructure, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/pai/periodes/{codeStructure}"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listerPeriodesMiseEnOeuvreValidateBeforeCall(String codeStructure, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling listerPeriodesMiseEnOeuvre(Async)");
        }
        

        okhttp3.Call localVarCall = listerPeriodesMiseEnOeuvreCall(codeStructure, _callback);
        return localVarCall;

    }

    /**
     * Lister les periodes de mise en oeuvre disponibles dans PAI
     * Lister toutes les periodes de mise en oeuvre existantes dans PAI pour un établissement
     * @param codeStructure le code de l&#39;établissement (required)
     * @return List&lt;Periode&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> liste des periodes de mise en oeuvre </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> liste introuvable </td><td>  -  </td></tr>
     </table>
     */
    public List<Periode> listerPeriodesMiseEnOeuvre(String codeStructure) throws ApiException {
        ApiResponse<List<Periode>> localVarResp = listerPeriodesMiseEnOeuvreWithHttpInfo(codeStructure);
        return localVarResp.getData();
    }

    /**
     * Lister les periodes de mise en oeuvre disponibles dans PAI
     * Lister toutes les periodes de mise en oeuvre existantes dans PAI pour un établissement
     * @param codeStructure le code de l&#39;établissement (required)
     * @return ApiResponse&lt;List&lt;Periode&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> liste des periodes de mise en oeuvre </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> liste introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Periode>> listerPeriodesMiseEnOeuvreWithHttpInfo(String codeStructure) throws ApiException {
        okhttp3.Call localVarCall = listerPeriodesMiseEnOeuvreValidateBeforeCall(codeStructure, null);
        Type localVarReturnType = new TypeToken<List<Periode>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Lister les periodes de mise en oeuvre disponibles dans PAI (asynchronously)
     * Lister toutes les periodes de mise en oeuvre existantes dans PAI pour un établissement
     * @param codeStructure le code de l&#39;établissement (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> liste des periodes de mise en oeuvre </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> liste introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listerPeriodesMiseEnOeuvreAsync(String codeStructure, final ApiCallback<List<Periode>> _callback) throws ApiException {

        okhttp3.Call localVarCall = listerPeriodesMiseEnOeuvreValidateBeforeCall(codeStructure, _callback);
        Type localVarReturnType = new TypeToken<List<Periode>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
