
.card-with-separator {
   border-bottom-width:0.1em;
	border-bottom-style:solid;
}

.card-title-bordered {
	border-bottom:1px solid;
	border-image : linear-gradient(45deg,var(--header-card-separator-color),#ffffff) 1;
	width: 100%;
	/* margin-bottom: 0.5em; */
	/* border-color:var(--main-color); */
}

.card-title-bordered-closed {
	border-bottom:1px solid;
	border-image : linear-gradient(45deg,var(--header-card-separator-color),#ffffff) 0;
	width: 100%;
}

.flip {
    -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-label {
	padding: 0;
}

.label-titre {
	font-weight: 500 !important;
    font-size: .7rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--txt-color);
}

.label-valeur {
	font-weight: 700;
    padding: 0;
    color: var(--txt-color);
    margin: 0;
}

@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

.hiddenpanel {
	animation: shrink 170ms ease-out forwards;
	transform-origin: top center;
}

.basicView {
	background-color: white;
}

@keyframes shrink {
    0% {
        transform: scaleY(1);
        height: 100%;
    }
    100% {
        transform: scaleY(0);
        height: 0%;
    	max-height: 0;
    }
}

.diplayedpanel {
	animation: growDown 170ms ease-in forwards;
	transform-origin: top center;
	display: flex;
}
@keyframes growDown {
    0% {
        transform: scaleY(0); 
        height: 0%;
    }
    100% {
        transform: scaleY(1);
		height: 100%;
    }
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.4s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
