
:host label {
	font-weight: 500 !important;
    font-size: .7rem;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: var(--main-color);
}

:host input {
	font-weight: 700;
    padding: 0;
    color: 	var(--main-color);
}

	
:host([readonly]) [part="input-field"] {
	padding: 0;
}

:host([readonly]) [part="input-field"]::after {
	border-style: none;    
}

:host label {
	white-space: normal;
}

/*
:host(.nice-textfield) [part="input-field"]::after {
	border-style: none;    
	 border-width: 0px;     
}*/
