# build
node/
node_modules/
frontend/generated/
src/main/dev-bundle/
/target/
webpack.generated.js
drivers/
/config/


# IDE
.classpath
.factorypath
.project
.settings
.idea/
*.iml
.DS_Store


# local dev
**/application.properties
**/application.yml
**/~*.docx
**/~*.tmp


# local dev test
**/test.properties

# Docker
.docker
.docker/**/.*

# k8s
.k8s
.k8s/**/.*

# Helm
helmchart
helmchart/**/.*

pnpmfile.js
pnpm-lock.yaml
/.apt_generated/
/.apt_generated_tests/
/package-lock.json
/bin/
