/**
 *
 *  ESUP-Portail ESUP-MONDOSSIERWEB-PEGASE - Copyright (c) 2021 ESUP-Portail consortium
 *
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */
/*
 * API CHC v5
 * Liste l'ensemble des services et des opérations disponibles dans le module choix des cursus v5 
 *
 * The version of the OpenAPI document: 5.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.univlorraine.pegase.api.chc;

import fr.univlorraine.pegase.api.ApiCallback;
import fr.univlorraine.pegase.api.ApiClient;
import fr.univlorraine.pegase.api.ApiException;
import fr.univlorraine.pegase.api.ApiResponse;
import fr.univlorraine.pegase.api.Configuration;
import fr.univlorraine.pegase.api.Pair;
import fr.univlorraine.pegase.api.ProgressRequestBody;
import fr.univlorraine.pegase.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import fr.univlorraine.pegase.model.chc.Apprenant;
import fr.univlorraine.pegase.model.chc.ApprenantExtention;
import fr.univlorraine.pegase.model.chc.ObjetMaquetteExtension;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InscriptionApi {
    private ApiClient localVarApiClient;

    public InscriptionApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InscriptionApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for lireListeInscriptionsApprenantsDansFormation
     * @param codeChemin Le code chemin de l&#39;objet de maquette (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA valide ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsApprenantsDansFormationCall(String codeChemin, String codePeriode, String codeStructure, String statutInscription, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/inscriptions/apprenants/objets-maquette/{codeChemin}/{codePeriode}/{codeStructure}/{statutInscription}"
            .replaceAll("\\{" + "codeChemin" + "\\}", localVarApiClient.escapeString(codeChemin.toString()))
            .replaceAll("\\{" + "codePeriode" + "\\}", localVarApiClient.escapeString(codePeriode.toString()))
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "statutInscription" + "\\}", localVarApiClient.escapeString(statutInscription.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireListeInscriptionsApprenantsDansFormationValidateBeforeCall(String codeChemin, String codePeriode, String codeStructure, String statutInscription, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeChemin' is set
        if (codeChemin == null) {
            throw new ApiException("Missing the required parameter 'codeChemin' when calling lireListeInscriptionsApprenantsDansFormation(Async)");
        }
        
        // verify the required parameter 'codePeriode' is set
        if (codePeriode == null) {
            throw new ApiException("Missing the required parameter 'codePeriode' when calling lireListeInscriptionsApprenantsDansFormation(Async)");
        }
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireListeInscriptionsApprenantsDansFormation(Async)");
        }
        
        // verify the required parameter 'statutInscription' is set
        if (statutInscription == null) {
            throw new ApiException("Missing the required parameter 'statutInscription' when calling lireListeInscriptionsApprenantsDansFormation(Async)");
        }
        

        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansFormationCall(codeChemin, codePeriode, codeStructure, statutInscription, _callback);
        return localVarCall;

    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une formation , d&#39;un statut inscription et d&#39;une structure
     * 
     * @param codeChemin Le code chemin de l&#39;objet de maquette (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @return List&lt;ApprenantExtention&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA valide ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public List<ApprenantExtention> lireListeInscriptionsApprenantsDansFormation(String codeChemin, String codePeriode, String codeStructure, String statutInscription) throws ApiException {
        ApiResponse<List<ApprenantExtention>> localVarResp = lireListeInscriptionsApprenantsDansFormationWithHttpInfo(codeChemin, codePeriode, codeStructure, statutInscription);
        return localVarResp.getData();
    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une formation , d&#39;un statut inscription et d&#39;une structure
     * 
     * @param codeChemin Le code chemin de l&#39;objet de maquette (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @return ApiResponse&lt;List&lt;ApprenantExtention&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA valide ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ApprenantExtention>> lireListeInscriptionsApprenantsDansFormationWithHttpInfo(String codeChemin, String codePeriode, String codeStructure, String statutInscription) throws ApiException {
        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansFormationValidateBeforeCall(codeChemin, codePeriode, codeStructure, statutInscription, null);
        Type localVarReturnType = new TypeToken<List<ApprenantExtention>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une formation , d&#39;un statut inscription et d&#39;une structure (asynchronously)
     * 
     * @param codeChemin Le code chemin de l&#39;objet de maquette (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA valide ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsApprenantsDansFormationAsync(String codeChemin, String codePeriode, String codeStructure, String statutInscription, final ApiCallback<List<ApprenantExtention>> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansFormationValidateBeforeCall(codeChemin, codePeriode, codeStructure, statutInscription, _callback);
        Type localVarReturnType = new TypeToken<List<ApprenantExtention>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for lireListeInscriptionsApprenantsDansPeriode
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA  ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsApprenantsDansPeriodeCall(String codePeriode, String codeStructure, String statutInscription, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/inscriptions/apprenants/{codePeriode}/{codeStructure}/{statutInscription}"
            .replaceAll("\\{" + "codePeriode" + "\\}", localVarApiClient.escapeString(codePeriode.toString()))
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "statutInscription" + "\\}", localVarApiClient.escapeString(statutInscription.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireListeInscriptionsApprenantsDansPeriodeValidateBeforeCall(String codePeriode, String codeStructure, String statutInscription, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codePeriode' is set
        if (codePeriode == null) {
            throw new ApiException("Missing the required parameter 'codePeriode' when calling lireListeInscriptionsApprenantsDansPeriode(Async)");
        }
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireListeInscriptionsApprenantsDansPeriode(Async)");
        }
        
        // verify the required parameter 'statutInscription' is set
        if (statutInscription == null) {
            throw new ApiException("Missing the required parameter 'statutInscription' when calling lireListeInscriptionsApprenantsDansPeriode(Async)");
        }
        

        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansPeriodeCall(codePeriode, codeStructure, statutInscription, _callback);
        return localVarCall;

    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une structure, d&#39;une période et d&#39;un statut inscription
     * 
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @return List&lt;Apprenant&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA  ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public List<Apprenant> lireListeInscriptionsApprenantsDansPeriode(String codePeriode, String codeStructure, String statutInscription) throws ApiException {
        ApiResponse<List<Apprenant>> localVarResp = lireListeInscriptionsApprenantsDansPeriodeWithHttpInfo(codePeriode, codeStructure, statutInscription);
        return localVarResp.getData();
    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une structure, d&#39;une période et d&#39;un statut inscription
     * 
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @return ApiResponse&lt;List&lt;Apprenant&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA  ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<Apprenant>> lireListeInscriptionsApprenantsDansPeriodeWithHttpInfo(String codePeriode, String codeStructure, String statutInscription) throws ApiException {
        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansPeriodeValidateBeforeCall(codePeriode, codeStructure, statutInscription, null);
        Type localVarReturnType = new TypeToken<List<Apprenant>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Liste des inscriptions des apprenants qui ont une IA en fonction d&#39;une structure, d&#39;une période et d&#39;un statut inscription (asynchronously)
     * 
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param statutInscription Le code statut de l&#39;inscription (VALIDE / ANNULEE) (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les inscriptions des apprenants qui ont une IA  ont été récupérées </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsApprenantsDansPeriodeAsync(String codePeriode, String codeStructure, String statutInscription, final ApiCallback<List<Apprenant>> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireListeInscriptionsApprenantsDansPeriodeValidateBeforeCall(codePeriode, codeStructure, statutInscription, _callback);
        Type localVarReturnType = new TypeToken<List<Apprenant>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriode
     * @param codeApprenant Le code de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les objets de maquettes de l&#39;apprenant avec un IA valide ont été récupérés </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeCall(String codeApprenant, String codePeriode, String codeStructure, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/inscriptions/objets-maquette/{codeApprenant}/{codePeriode}/{codeStructure}"
            .replaceAll("\\{" + "codeApprenant" + "\\}", localVarApiClient.escapeString(codeApprenant.toString()))
            .replaceAll("\\{" + "codePeriode" + "\\}", localVarApiClient.escapeString(codePeriode.toString()))
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeValidateBeforeCall(String codeApprenant, String codePeriode, String codeStructure, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeApprenant' is set
        if (codeApprenant == null) {
            throw new ApiException("Missing the required parameter 'codeApprenant' when calling lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriode(Async)");
        }
        
        // verify the required parameter 'codePeriode' is set
        if (codePeriode == null) {
            throw new ApiException("Missing the required parameter 'codePeriode' when calling lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriode(Async)");
        }
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriode(Async)");
        }
        

        okhttp3.Call localVarCall = lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeCall(codeApprenant, codePeriode, codeStructure, _callback);
        return localVarCall;

    }

    /**
     * Liste des objets de maquette de l&#39;apprenant avec une IA validée ou annulée en fonction d&#39;une période, d&#39;une structure
     * 
     * @param codeApprenant Le code de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @return List&lt;ObjetMaquetteExtension&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les objets de maquettes de l&#39;apprenant avec un IA valide ont été récupérés </td><td>  -  </td></tr>
     </table>
     */
    public List<ObjetMaquetteExtension> lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriode(String codeApprenant, String codePeriode, String codeStructure) throws ApiException {
        ApiResponse<List<ObjetMaquetteExtension>> localVarResp = lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeWithHttpInfo(codeApprenant, codePeriode, codeStructure);
        return localVarResp.getData();
    }

    /**
     * Liste des objets de maquette de l&#39;apprenant avec une IA validée ou annulée en fonction d&#39;une période, d&#39;une structure
     * 
     * @param codeApprenant Le code de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @return ApiResponse&lt;List&lt;ObjetMaquetteExtension&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les objets de maquettes de l&#39;apprenant avec un IA valide ont été récupérés </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<ObjetMaquetteExtension>> lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeWithHttpInfo(String codeApprenant, String codePeriode, String codeStructure) throws ApiException {
        okhttp3.Call localVarCall = lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeValidateBeforeCall(codeApprenant, codePeriode, codeStructure, null);
        Type localVarReturnType = new TypeToken<List<ObjetMaquetteExtension>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Liste des objets de maquette de l&#39;apprenant avec une IA validée ou annulée en fonction d&#39;une période, d&#39;une structure (asynchronously)
     * 
     * @param codeApprenant Le code de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de l&#39;objet de maquette (required)
     * @param codeStructure Le code structure de l&#39;objet de maquette (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Les objets de maquettes de l&#39;apprenant avec un IA valide ont été récupérés </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeAsync(String codeApprenant, String codePeriode, String codeStructure, final ApiCallback<List<ObjetMaquetteExtension>> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireListeInscriptionsObjetsMaquettesPourApprenantDansPeriodeValidateBeforeCall(codeApprenant, codePeriode, codeStructure, _callback);
        Type localVarReturnType = new TypeToken<List<ObjetMaquetteExtension>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
