/**
 *
 *  ESUP-Portail ESUP-MONDOSSIERWEB-PEGASE - Copyright (c) 2021 ESUP-Portail consortium
 *
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */
/*
 * INS Gestion V5
 * Il s'agit de l'API v5 de gestion - INS  __Apprenant :__ une personne qui a au moins une inscription validée dans Pegase.  __Inscription :__ se définit par une cible sur une période de mise en œuvre pour un apprenant. Une inscription peut prendre deux états : soit validée, soit annulée.  __Actualisation :__ permet de modifier les données liées à l’apprenant ou à l’inscription alors que la piste a déjà été payée ou validée.   __Gestion des erreurs :__   __200, 201 :__ opération effectuée   __400 :__ erreur de données sur les formats   __403 :__ accès refusé   __404 :__ contenu introuvable   __409 :__ donnée déjà existante   __500 :__ erreur serveur  # Changement majeur/cassant par rapport à V4  1. Suppression de `Inscription.noCandidat`.  1. Ajout de `VoeuBase.noCandidat` et `InscriptionComplete.noCandidat`.  1. Ajout de `VoeuBase.choisi`. 
 *
 * The version of the OpenAPI document: 2.2.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.univlorraine.pegase.api.insgestion;

import fr.univlorraine.pegase.api.ApiCallback;
import fr.univlorraine.pegase.api.ApiClient;
import fr.univlorraine.pegase.api.ApiException;
import fr.univlorraine.pegase.api.ApiResponse;
import fr.univlorraine.pegase.api.Configuration;
import fr.univlorraine.pegase.api.Pair;
import fr.univlorraine.pegase.api.ProgressRequestBody;
import fr.univlorraine.pegase.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import fr.univlorraine.pegase.model.insgestion.Apprenant;
import fr.univlorraine.pegase.model.insgestion.InscriptionComplete;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ApprenantsApi {
    private ApiClient localVarApiClient;

    public ApprenantsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ApprenantsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for lireApprenant
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code Pegase de l&#39;apprenant (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireApprenantCall(String codeStructure, String codeApprenant, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/gestion/apprenants/{codeStructure}/{codeApprenant}/"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "codeApprenant" + "\\}", localVarApiClient.escapeString(codeApprenant.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireApprenantValidateBeforeCall(String codeStructure, String codeApprenant, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireApprenant(Async)");
        }
        
        // verify the required parameter 'codeApprenant' is set
        if (codeApprenant == null) {
            throw new ApiException("Missing the required parameter 'codeApprenant' when calling lireApprenant(Async)");
        }
        

        okhttp3.Call localVarCall = lireApprenantCall(codeStructure, codeApprenant, _callback);
        return localVarCall;

    }

    /**
     * Chercher les données d&#39;un apprenant
     * Chercher les données d&#39;un apprenant
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code Pegase de l&#39;apprenant (required)
     * @return Apprenant
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public Apprenant lireApprenant(String codeStructure, String codeApprenant) throws ApiException {
        ApiResponse<Apprenant> localVarResp = lireApprenantWithHttpInfo(codeStructure, codeApprenant);
        return localVarResp.getData();
    }

    /**
     * Chercher les données d&#39;un apprenant
     * Chercher les données d&#39;un apprenant
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code Pegase de l&#39;apprenant (required)
     * @return ApiResponse&lt;Apprenant&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Apprenant> lireApprenantWithHttpInfo(String codeStructure, String codeApprenant) throws ApiException {
        okhttp3.Call localVarCall = lireApprenantValidateBeforeCall(codeStructure, codeApprenant, null);
        Type localVarReturnType = new TypeToken<Apprenant>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Chercher les données d&#39;un apprenant (asynchronously)
     * Chercher les données d&#39;un apprenant
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code Pegase de l&#39;apprenant (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireApprenantAsync(String codeStructure, String codeApprenant, final ApiCallback<Apprenant> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireApprenantValidateBeforeCall(codeStructure, codeApprenant, _callback);
        Type localVarReturnType = new TypeToken<Apprenant>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for lireApprenantParIne
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireApprenantParIneCall(String codeStructure, String codeIne, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/gestion/apprenants/{codeStructure}/ine/{codeIne}/"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "codeIne" + "\\}", localVarApiClient.escapeString(codeIne.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireApprenantParIneValidateBeforeCall(String codeStructure, String codeIne, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireApprenantParIne(Async)");
        }
        
        // verify the required parameter 'codeIne' is set
        if (codeIne == null) {
            throw new ApiException("Missing the required parameter 'codeIne' when calling lireApprenantParIne(Async)");
        }
        

        okhttp3.Call localVarCall = lireApprenantParIneCall(codeStructure, codeIne, _callback);
        return localVarCall;

    }

    /**
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @return Apprenant
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public Apprenant lireApprenantParIne(String codeStructure, String codeIne) throws ApiException {
        ApiResponse<Apprenant> localVarResp = lireApprenantParIneWithHttpInfo(codeStructure, codeIne);
        return localVarResp.getData();
    }

    /**
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @return ApiResponse&lt;Apprenant&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Apprenant> lireApprenantParIneWithHttpInfo(String codeStructure, String codeIne) throws ApiException {
        okhttp3.Call localVarCall = lireApprenantParIneValidateBeforeCall(codeStructure, codeIne, null);
        Type localVarReturnType = new TypeToken<Apprenant>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE (asynchronously)
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Données de l&#39;apprenant </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireApprenantParIneAsync(String codeStructure, String codeIne, final ApiCallback<Apprenant> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireApprenantParIneValidateBeforeCall(codeStructure, codeIne, _callback);
        Type localVarReturnType = new TypeToken<Apprenant>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriode
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de référence (required)
     * @param statutInscription  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Inscriptions de l&#39;apprenant pour une période </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant ou période introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeCall(String codeStructure, String codeIne, String codePeriode, String statutInscription, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/gestion/apprenants/{codeStructure}/ine/{codeIne}/inscriptions/{codePeriode}/"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "codeIne" + "\\}", localVarApiClient.escapeString(codeIne.toString()))
            .replaceAll("\\{" + "codePeriode" + "\\}", localVarApiClient.escapeString(codePeriode.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (statutInscription != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("statutInscription", statutInscription));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeValidateBeforeCall(String codeStructure, String codeIne, String codePeriode, String statutInscription, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriode(Async)");
        }
        
        // verify the required parameter 'codeIne' is set
        if (codeIne == null) {
            throw new ApiException("Missing the required parameter 'codeIne' when calling lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriode(Async)");
        }
        
        // verify the required parameter 'codePeriode' is set
        if (codePeriode == null) {
            throw new ApiException("Missing the required parameter 'codePeriode' when calling lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriode(Async)");
        }
        

        okhttp3.Call localVarCall = lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeCall(codeStructure, codeIne, codePeriode, statutInscription, _callback);
        return localVarCall;

    }

    /**
     * Chercher les inscriptions d&#39;un apprenant à partir d&#39;un numéro INE et d&#39;une période de mise en œuvre
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de référence (required)
     * @param statutInscription  (optional)
     * @return List&lt;InscriptionComplete&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Inscriptions de l&#39;apprenant pour une période </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant ou période introuvable </td><td>  -  </td></tr>
     </table>
     */
    public List<InscriptionComplete> lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriode(String codeStructure, String codeIne, String codePeriode, String statutInscription) throws ApiException {
        ApiResponse<List<InscriptionComplete>> localVarResp = lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeWithHttpInfo(codeStructure, codeIne, codePeriode, statutInscription);
        return localVarResp.getData();
    }

    /**
     * Chercher les inscriptions d&#39;un apprenant à partir d&#39;un numéro INE et d&#39;une période de mise en œuvre
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de référence (required)
     * @param statutInscription  (optional)
     * @return ApiResponse&lt;List&lt;InscriptionComplete&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Inscriptions de l&#39;apprenant pour une période </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant ou période introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<InscriptionComplete>> lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeWithHttpInfo(String codeStructure, String codeIne, String codePeriode, String statutInscription) throws ApiException {
        okhttp3.Call localVarCall = lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeValidateBeforeCall(codeStructure, codeIne, codePeriode, statutInscription, null);
        Type localVarReturnType = new TypeToken<List<InscriptionComplete>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Chercher les inscriptions d&#39;un apprenant à partir d&#39;un numéro INE et d&#39;une période de mise en œuvre (asynchronously)
     * Chercher les données d&#39;un apprenant à partir d&#39;un numéro INE
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeIne Le code INE de l&#39;apprenant (required)
     * @param codePeriode Le code de la période de référence (required)
     * @param statutInscription  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Inscriptions de l&#39;apprenant pour une période </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Apprenant ou période introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeAsync(String codeStructure, String codeIne, String codePeriode, String statutInscription, final ApiCallback<List<InscriptionComplete>> _callback) throws ApiException {

        okhttp3.Call localVarCall = lireInscriptionsApprenantParInePourUneAnneeUniversitaireOuUnePeriodeValidateBeforeCall(codeStructure, codeIne, codePeriode, statutInscription, _callback);
        Type localVarReturnType = new TypeToken<List<InscriptionComplete>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
