/*
 * Swagger Gestion - INS
 * Il s'agit de l'API de gestion - INS.
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.univlorraine.pegase.api.insgestion;

import fr.univlorraine.pegase.api.ApiCallback;
import fr.univlorraine.pegase.api.ApiClient;
import fr.univlorraine.pegase.api.ApiException;
import fr.univlorraine.pegase.api.ApiResponse;
import fr.univlorraine.pegase.api.Configuration;
import fr.univlorraine.pegase.api.Pair;
import fr.univlorraine.pegase.api.ProgressRequestBody;
import fr.univlorraine.pegase.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import fr.univlorraine.pegase.model.insgestion.Piece;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PiecesApi {
    private ApiClient localVarApiClient;

    public PiecesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PiecesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for lirePieces
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code apprenant (required)
     * @param codeCible Le code cible (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pièces récupérées </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> pièces introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lirePiecesCall(String codeStructure, String codeApprenant, String codeCible, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/gestion/inscriptions/{codeStructure}/{codeApprenant}/{codeCible}/pieces"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "codeApprenant" + "\\}", localVarApiClient.escapeString(codeApprenant.toString()))
            .replaceAll("\\{" + "codeCible" + "\\}", localVarApiClient.escapeString(codeCible.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call lirePiecesValidateBeforeCall(String codeStructure, String codeApprenant, String codeCible, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling lirePieces(Async)");
        }
        
        // verify the required parameter 'codeApprenant' is set
        if (codeApprenant == null) {
            throw new ApiException("Missing the required parameter 'codeApprenant' when calling lirePieces(Async)");
        }
        
        // verify the required parameter 'codeCible' is set
        if (codeCible == null) {
            throw new ApiException("Missing the required parameter 'codeCible' when calling lirePieces(Async)");
        }
        

        okhttp3.Call localVarCall = lirePiecesCall(codeStructure, codeApprenant, codeCible, _callback);
        return localVarCall;

    }

    /**
     * récupération des données des pièces
     * récupération des données des pièces
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code apprenant (required)
     * @param codeCible Le code cible (required)
     * @return Map&lt;String, Piece&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pièces récupérées </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> pièces introuvable </td><td>  -  </td></tr>
     </table>
     */
    public Map<String, Piece> lirePieces(String codeStructure, String codeApprenant, String codeCible) throws ApiException {
        ApiResponse<Map<String, Piece>> localVarResp = lirePiecesWithHttpInfo(codeStructure, codeApprenant, codeCible);
        return localVarResp.getData();
    }

    /**
     * récupération des données des pièces
     * récupération des données des pièces
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code apprenant (required)
     * @param codeCible Le code cible (required)
     * @return ApiResponse&lt;Map&lt;String, Piece&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pièces récupérées </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> pièces introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Map<String, Piece>> lirePiecesWithHttpInfo(String codeStructure, String codeApprenant, String codeCible) throws ApiException {
        okhttp3.Call localVarCall = lirePiecesValidateBeforeCall(codeStructure, codeApprenant, codeCible, null);
        Type localVarReturnType = new TypeToken<Map<String, Piece>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * récupération des données des pièces (asynchronously)
     * récupération des données des pièces
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param codeApprenant Le code apprenant (required)
     * @param codeCible Le code cible (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Pièces récupérées </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> pièces introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call lirePiecesAsync(String codeStructure, String codeApprenant, String codeCible, final ApiCallback<Map<String, Piece>> _callback) throws ApiException {

        okhttp3.Call localVarCall = lirePiecesValidateBeforeCall(codeStructure, codeApprenant, codeCible, _callback);
        Type localVarReturnType = new TypeToken<Map<String, Piece>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
