/*
 * Swagger Gestion - INS
 * Il s'agit de l'API de gestion - INS.
 *
 * The version of the OpenAPI document: 1.3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package fr.univlorraine.pegase.api.insgestion;

import fr.univlorraine.pegase.api.ApiCallback;
import fr.univlorraine.pegase.api.ApiClient;
import fr.univlorraine.pegase.api.ApiException;
import fr.univlorraine.pegase.api.ApiResponse;
import fr.univlorraine.pegase.api.Configuration;
import fr.univlorraine.pegase.api.Pair;
import fr.univlorraine.pegase.api.ProgressRequestBody;
import fr.univlorraine.pegase.api.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import fr.univlorraine.pegase.model.insgestion.TexteParametrable;
import fr.univlorraine.pegase.model.insgestion.TypeTexte;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TexteParametrableApi {
    private ApiClient localVarApiClient;

    public TexteParametrableApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TexteParametrableApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for modifierTexteParametrable
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param texteParametrable Le contenu HTML du texte saisie (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Texte paramétrable enregistré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte type introuvable </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> données non valides </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call modifierTexteParametrableCall(String codeStructure, TypeTexte typeTexte, TexteParametrable texteParametrable, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = texteParametrable;

        // create path and map variables
        String localVarPath = "/gestion/texte-parametrable/{codeStructure}/{typeTexte}"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "typeTexte" + "\\}", localVarApiClient.escapeString(typeTexte.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "idTokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call modifierTexteParametrableValidateBeforeCall(String codeStructure, TypeTexte typeTexte, TexteParametrable texteParametrable, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling modifierTexteParametrable(Async)");
        }
        
        // verify the required parameter 'typeTexte' is set
        if (typeTexte == null) {
            throw new ApiException("Missing the required parameter 'typeTexte' when calling modifierTexteParametrable(Async)");
        }
        
        // verify the required parameter 'texteParametrable' is set
        if (texteParametrable == null) {
            throw new ApiException("Missing the required parameter 'texteParametrable' when calling modifierTexteParametrable(Async)");
        }
        

        okhttp3.Call localVarCall = modifierTexteParametrableCall(codeStructure, typeTexte, texteParametrable, _callback);
        return localVarCall;

    }

    /**
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param texteParametrable Le contenu HTML du texte saisie (required)
     * @return TexteParametrable
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Texte paramétrable enregistré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte type introuvable </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> données non valides </td><td>  -  </td></tr>
     </table>
     */
    public TexteParametrable modifierTexteParametrable(String codeStructure, TypeTexte typeTexte, TexteParametrable texteParametrable) throws ApiException {
        ApiResponse<TexteParametrable> localVarResp = modifierTexteParametrableWithHttpInfo(codeStructure, typeTexte, texteParametrable);
        return localVarResp.getData();
    }

    /**
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param texteParametrable Le contenu HTML du texte saisie (required)
     * @return ApiResponse&lt;TexteParametrable&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Texte paramétrable enregistré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte type introuvable </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> données non valides </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TexteParametrable> modifierTexteParametrableWithHttpInfo(String codeStructure, TypeTexte typeTexte, TexteParametrable texteParametrable) throws ApiException {
        okhttp3.Call localVarCall = modifierTexteParametrableValidateBeforeCall(codeStructure, typeTexte, texteParametrable, null);
        Type localVarReturnType = new TypeToken<TexteParametrable>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie (asynchronously)
     * Mise à jour ou ajout d&#39;un texte paramétrable saisie
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param texteParametrable Le contenu HTML du texte saisie (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> Texte paramétrable enregistré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte type introuvable </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> données non valides </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call modifierTexteParametrableAsync(String codeStructure, TypeTexte typeTexte, TexteParametrable texteParametrable, final ApiCallback<TexteParametrable> _callback) throws ApiException {

        okhttp3.Call localVarCall = modifierTexteParametrableValidateBeforeCall(codeStructure, typeTexte, texteParametrable, _callback);
        Type localVarReturnType = new TypeToken<TexteParametrable>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for recupererTexteParametrable
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Texte paramétrable récupéré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call recupererTexteParametrableCall(String codeStructure, TypeTexte typeTexte, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/gestion/texte-parametrable/{codeStructure}/{typeTexte}"
            .replaceAll("\\{" + "codeStructure" + "\\}", localVarApiClient.escapeString(codeStructure.toString()))
            .replaceAll("\\{" + "typeTexte" + "\\}", localVarApiClient.escapeString(typeTexte.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call recupererTexteParametrableValidateBeforeCall(String codeStructure, TypeTexte typeTexte, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'codeStructure' is set
        if (codeStructure == null) {
            throw new ApiException("Missing the required parameter 'codeStructure' when calling recupererTexteParametrable(Async)");
        }
        
        // verify the required parameter 'typeTexte' is set
        if (typeTexte == null) {
            throw new ApiException("Missing the required parameter 'typeTexte' when calling recupererTexteParametrable(Async)");
        }
        

        okhttp3.Call localVarCall = recupererTexteParametrableCall(codeStructure, typeTexte, _callback);
        return localVarCall;

    }

    /**
     * Récupération du texte paramétrable pour un type donnée et pour un établissement
     * Récupération du texte paramétrable pour un type donnée et pour un établissement
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @return TexteParametrable
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Texte paramétrable récupéré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte introuvable </td><td>  -  </td></tr>
     </table>
     */
    public TexteParametrable recupererTexteParametrable(String codeStructure, TypeTexte typeTexte) throws ApiException {
        ApiResponse<TexteParametrable> localVarResp = recupererTexteParametrableWithHttpInfo(codeStructure, typeTexte);
        return localVarResp.getData();
    }

    /**
     * Récupération du texte paramétrable pour un type donnée et pour un établissement
     * Récupération du texte paramétrable pour un type donnée et pour un établissement
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @return ApiResponse&lt;TexteParametrable&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Texte paramétrable récupéré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte introuvable </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<TexteParametrable> recupererTexteParametrableWithHttpInfo(String codeStructure, TypeTexte typeTexte) throws ApiException {
        okhttp3.Call localVarCall = recupererTexteParametrableValidateBeforeCall(codeStructure, typeTexte, null);
        Type localVarReturnType = new TypeToken<TexteParametrable>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Récupération du texte paramétrable pour un type donnée et pour un établissement (asynchronously)
     * Récupération du texte paramétrable pour un type donnée et pour un établissement
     * @param codeStructure Le code de l&#39;établissement (required)
     * @param typeTexte Le type de texte saisissable (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Texte paramétrable récupéré </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Texte introuvable </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call recupererTexteParametrableAsync(String codeStructure, TypeTexte typeTexte, final ApiCallback<TexteParametrable> _callback) throws ApiException {

        okhttp3.Call localVarCall = recupererTexteParametrableValidateBeforeCall(codeStructure, typeTexte, _callback);
        Type localVarReturnType = new TypeToken<TexteParametrable>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
