[part="navbar"] {
	padding: var(--lumo-space-s);
	align-items: baseline;
	color: white;
}

[part="navbar"]::before {
	background-color: var(--main-color)!important;
	opacity: 1;
}
	
[part="drawer"] {
	min-width: 28%;
	border: none !important;
}

div[content] {
	background-repeat: no-repeat;
    background-size: 20%;
    background-image: url(./images/logo-back.png);
    background-position: right bottom;
}