[part="navbar"] {
	padding: var(--lumo-space-s);
	align-items: baseline;
	color: white;
}

[part="navbar"]::before {
	background-color: var(--lumo-secondary-text-color);
}
	
[part="drawer"] {
	background-color : var(--lumo-contrast-5pct);
}

content {
	background-repeat: no-repeat;
    background-size: 20%;
    background-image: url(./images/logo-back.png);
    background-position: right bottom;
}